@charset "UTF-8";
.content ul.kazalo{text-align: center; margin: auto;}
.content ul.kazalo a {    width: 50px;
  display: inline-block;
    margin-right: 5px;
    margin-left: 5px;
    text-align: center;
    padding: 13px 10px;
    border-radius: 3px;
    box-shadow: 0 1px 5px 0 rgb(0 0 0 / 15%);
    margin-bottom: 10px;
}
.nested.dropdown:hover > .dropdown-menu {
  display: block;
}
.nested.dropdown .dropdown-menu {
  top: -15px;
  margin-left: 100%;
}
.nested.dropdown .dropdown-trigger button::after {
  content: "⦠";
}
.nested.dropdown .dropdown-trigger button {
  padding: 0px 0px;
  border: 0px;
  font-size: 14px;
  font-weight: 400;
  height: 2em;
}

.navbar-menu{display: block;}

.swal2-html-container, .swal2-html-container{text-align: justify!important;}
.hero.is-info, .button.is-info{background-color: #683129;}
.swal2-styled.swal2-confirm{background-color: #683129!important;}
.button.is-info:hover{background-color:#3a1611}
.navbar-link:not(.is-arrowless)::after{border-color:#683129}
@media screen and (max-width: 1024px) {
    .navbar-dropdown .is-active {
      display: block;
    }
    .navbar-dropdown:not(.is-active) {
      display: none;
    }
    .nested.dropdown .dropdown-menu {
      top: -15px;
      margin-left: 200px;
  }
}